[Unit]
Description=LeadMaps BI - FastAPI Application
After=network.target mysql.service

[Service]
# Sesuaikan User dan Path dengan server Anda (untuk aaPanel biasanya www atau root)
User=root
WorkingDirectory=/www/wwwroot/scraping.juangdev.my.id
Environment="PATH=/www/wwwroot/scraping.juangdev.my.id/venv/bin"
EnvironmentFile=/www/wwwroot/scraping.juangdev.my.id/.env
ExecStart=/www/wwwroot/scraping.juangdev.my.id/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000 --workers 2

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
